<div class="app-header-container">
  <h1>Jolly Wheel of Wonders!</h1>

  <ng-container>
    <a [routerLink]="['/']">Home</a> |
    <a [routerLink]="['user/new']">Create User</a> |
    <a [routerLink]="['user/123-456']">Edit User</a> |
    <a [routerLink]="['instructions']">Instructions</a> |
    <a [routerLink]="['game/start-game']">Start Game</a> |
    <a [routerLink]="['game/spin-wheel']">Spin Wheel</a> |
    <a [routerLink]="['game/actions']">Game Actions</a>
  </ng-container>

  <hr />
</div>
